<mat-tab-group class="height-full width-full">
    <mat-tab label="StockInfo" > 
        <ng-template matTabContent>
            <app-stockinfo class="height-full width-full"></app-stockinfo >
        </ng-template>         
    </mat-tab>
    <mat-tab label="Multi Trace" > 
        <ng-template matTabContent>
            <Multitrace class="height-full width-full"></Multitrace>
        </ng-template>     
    </mat-tab>
    <mat-tab label="Probability Models">
        <ng-template matTabContent>
   
        </ng-template>     
    </mat-tab>

</mat-tab-group>