# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript


trigger:
- dev

pool:
  name: truthfullspool

resources:
  repositories:
  - repository:  webapi
    type: github
    endpoint: mtaronji
    name: mtaronji/truthfullswebapi
    ref: "refs/heads/development"

stages:
- stage: Build_Test
  displayName: "Building and Testing"
  jobs:
  - job: 

    displayName: "Testing App"
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '18.10.x'
      displayName: "Using Node 18.10.x"
    - script: |
         npm install -g @angular/cli
         npm ci
         ng build
      displayName: "Install Dependencies and build"   
    - script: |
        ng test TruthfullsUI --code-coverage --karma-config karma.conf.ci.js 

      displayName: "Run Karma tests"

    - task: CopyFiles@2
      inputs:
        SourceFolder: $(System.DefaultWorkingDirectory)/dist
        
        TargetFolder: $(Build.ArtifactStagingDirectory)/truthfullsUI
      displayName: "Copying Angular build to Artifact staging directory"
      
    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(Build.ArtifactStagingDirectory)' 
        artifactName: 'truthfullsUI'
      displayName: "Creating UI Artifact"