# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript


trigger:
- dev

variables:
    npm_config_cache: $(Pipeline.Workspace)/.npm
pool:
  name: truthfullspool

stages:
- stage: Build
  displayName: "Building Ap"
  jobs:
  - job: 
    displayName: "Build UI"
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '18.10.0'
      displayName: "Installing Node"
    - script: |
       npm install -g @angular/cli
       npm ci
      displayName: "Installing npm and Angular"
    - script: |
       ng build
      displayName: "Building"
    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: '$(Build.SourcesDirectory)/dist'
        artifactName: drop1
- stage: Test
  displayName: "Testing"
  jobs:
  - job: 
    displayName: "Testing App"
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '18.10.x'
      displayName: "Using Node 18.10.x"
    - script: |
         npm install -g @angular/cli
         npm ci
         npm install -g puppeteer
         ng build
        #  npm install -g karma-cli
        #  npm install karma-jasmine-html-reporter
        #  ng build
      displayName: "Install Dependencies and build"   
    - script: |
        ng test TruthfullsUI --code-coverage --karma-config karma.conf.ci.js 

      displayName: "Run Karma tests"
    - task: PublishTestResults@2
      condition: succeededOrFailed()
      inputs:
       testResultsFormat: 'JUnit'
       testResultsFiles: '**/TESTS-*.xml'
      displayName: 'publish unit test results'

