# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript


trigger:
- main

pool:
  name: truthfullspool

stages:
- stage: Build_And_Test 
  displayName: "Building and Testing Stage"
  jobs:
  - job: 
    displayName: ""
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '18.10.0'
      displayName: "Installing Node"
    - script: |
       npm install -g @angular/cli
       npm ci
      displayName: "Installing npm and Angular"
    - script: |
       ng build
      displayName: "Building"
    - script: |
       ng test TruthfullsUI --code-coverage --karma-config src/karma.conf.ci.js 
      displayName: "Karma Testing"
    - task: PublishTestResults@2
      condition: succeededOrFailed()
      inputs:
       testResultsFormat: 'JUnit'
       testResultsFiles: '**/TESTS-*.xml'
      displayName: 'publish unit test results'

    - task: PublishCodeCoverageResults@1
      displayName: 'publish code coverage report'
      condition: succeededOrFailed()
      inputs:
        codeCoverageTool: Cobertura
        summaryFileLocation: '$(Build.SourcesDirectory)/coverage/cobertura-coverage.xml'
        failIfCoverageEmpty: true   

