# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript


trigger:
- main

pool:
  name: truthfullspool

stages:
- stage: Install
  jobs:
  - job: InstallNode
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 18.10.0

    displayName: 'Installing Node'
  - job: installNPM
    steps:
    - script: |
       npm install -g @angular/cli
       npm install
       ng build
# - stage: Build
#   jobs:
#   - job: BuildFrontEnd
#     displayName: 'Building TruthfullsUI'
#     steps:
#     - script: |
#        ng build
      
- stage: Test
  jobs:
  - job: RunJasmineTests
    displayName: 'Running Jasmine Tests'
    steps:
    - script: |
       ng test
  
