# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript


trigger:
- main

variables:
    npm_config_cache: $(Pipeline.Workspace)/.npm
pool:
  name: truthfullspool

stages:
# - stage: Build
#   displayName: "Building Ap"
#   jobs:
#   - job: 
#     displayName: "Build UI"
#     steps:
#     - task: NodeTool@0
#       inputs:
#         versionSpec: '18.10.0'
#       displayName: "Installing Node"
#     - script: |
#        npm install -g @angular/cli
#        npm ci
#       displayName: "Installing npm and Angular"
#     - script: |
#        ng build
#       displayName: "Building"
- stage: Test
  displayName: "Testing"
  jobs:
  - job: 
    displayName: "Testing App"
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '18.10.x'
      displayName: "Using Node 18.10.x"
    - script: |
         npm install -g @angular/cli
         npm install
         npm install -g puppeteer
         npm install -g karma-cli
         npm install karma-jasmine-html-reporter
         npm install @angular-devkit/build-angular

         ng build
      displayName: "Install Dependencies and build"   
    - script: |
        ng test TruthfullsUI --code-coverage --karma-config karma.conf.ci.js 

      displayName: "Run Karma tests"
    - task: PublishTestResults@2
      condition: succeededOrFailed()
      inputs:
       testResultsFormat: 'JUnit'
       testResultsFiles: '**/TESTS-*.xml'
      displayName: 'publish unit test results'

    - task: PublishCodeCoverageResults@1
      displayName: 'publish code coverage report'
      condition: succeededOrFailed()
      inputs:
        codeCoverageTool: Cobertura
        summaryFileLocation: '$(Build.SourcesDirectory)/coverage/cobertura-coverage.xml'
        failIfCoverageEmpty: true   
