.blurb{
    border-radius: 25px;
    border:1px solid purple;
    text-align: center;
    font-family: Montserrat;
}
.screenshot{
    object-fit:contain;
    object-position: center;
    border: 3px solid black;
    max-width: 100%;
    
}
.height-20vh{
    height:20vh;
}