<div class="width-full height-full">
   <div class="center-text">
    <h1 class="bubblegum-sans color-primary900"> Punkers</h1>
   </div>
   <div class="height-20vh">
    <div class="blurb">
        <h1 class="color-charcoal width-full">
            Plot Mathematics Functions and evaluate and Backtest S&P500 Stocks Using Punk, a Data Analysis And Mathematics Language
        </h1>
        <p class="color-primary900">Sign in to Get Started now.</p>
    </div>
   </div>
   <div class="width-full"> 
    <img class="screenshot" src="../../assets/Punker Screenshot.png" />

   </div>
   
</div>