.login-font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.color-pink{
    color:pink;
}

.signin-provider-container{
    height:500px;
    width:200px;
}
.signin-brand{
    height:100px;
    width:100px;
}

.cancel-btn{
    height:40px;
    width:auto;
}
