<div class="plot-component-container">
    <punk-pad class="width-full" (Code) = "NewSyntax($event)"> </punk-pad>
    <p class="margin-left-auto"> 
      <!-- <button mat-icon-button color="primary"><mat-icon>computer</mat-icon><span class="font-tiny">Ram: {{}}</span></button> -->
      <button mat-icon-button  color = "primary" (click)="fileInput.click()"><mat-icon fontIcon="attach_file">Attach</mat-icon></button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" multiple  accept=".csv">
      <button mat-button (click)="ClearData()" class="width-100px" color="warn">Clear Data</button>
      <button mat-button (click)="OpenExpressionSettings()" class="width-100px" color="primary">Plot Trace</button>
    </p>
    <mat-progress-bar mode="indeterminate" color="blue" *ngIf="this.Loading == true;"></mat-progress-bar>
    
    <mat-expansion-panel hideToggle (afterExpand)=HandleExpandCollapse() (afterCollapse)=HandleExpandCollapse()>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Evaluated Expressions
        </mat-panel-title>
        <mat-panel-description>
          Click to see Expressions that have been evaluated
        </mat-panel-description>
      </mat-expansion-panel-header>
      @for(exp of Expressions; track exp){
        <p color="accent" >{{exp.syntax}}</p>        
      }                       
    </mat-expansion-panel>

    <p class="color-warn800">{{PunkErrorMsg}}</p>
    <div class="morph-container">  <!-- Row 1-->

      @if(tracedata[0] != undefined){
  
        <div class="morph-width-70 height-full resizeable" cdkDrag cdkDragBoundary=".plot-component-container">
          <div class="move-handle" cdkDragHandle>
            <svg width="20px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
          <button class="place-right bg-white" (click)="DeleteChart(1)">
            <span class="close-x-red">&times;</span>
          </button>

          <plotly-plot [data]= tracedata[0] [divId]=plt1
          [layout] = layout[0]
          [style]="{width:'95%', height:'95%', autosize:'true'}" 
          [config]=config[0]
          [useResizeHandler]="true"
          >
          </plotly-plot>
        </div>
      }     

      @if(tracedata[1] != undefined){
        <div class=" morph-width-25 height-full resizeable" cdkDrag cdkDragBoundary=".plot-component-container">
          <div class="move-handle" cdkDragHandle>
            <svg width="20px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>

          <button class="place-right bg-white" (click)="DeleteChart(2)">
            <span class="close-x-red">&times;</span>
          </button>
          <plotly-plot  [data]= tracedata[1] [divId]=plt2
          [layout] = layout[1]
          [style]="{width:'95%', height:'95%', autosize:'true'}" 
          [config]=config[1]
          [useResizeHandler]="true"
          >
          </plotly-plot>
        </div>
      } 
      
    </div>
    <div class="morph-container"> <!-- row 2-->
     
      @if(tracedata[2] != undefined){
        <div class="width-95 height-90vh resizeable" cdkDrag cdkDragBoundary=".plot-component-container">
          <div class="move-handle" cdkDragHandle>
            <svg width="20px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
          <button class="place-right bg-white" (click)="DeleteChart(3)">
            <span class="close-x-red">&times;</span>
          </button>
          <plotly-plot  [data]= "tracedata[2]"  [divId]=plt3
          [layout] = "layout[2]"
          [style]="{width: '95%', height:'95%', autosize:'true'}" 
          [config]="config[2]"
          >
          </plotly-plot>
        </div>
      } 

      @if(tracedata[3] != undefined){
        <div class="width-95 height-90vh resizeable" cdkDrag cdkDragBoundary=".plot-component-container">
          <div class="move-handle" cdkDragHandle>
            <svg width="20px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
          <button class="place-right bg-white" (click)="DeleteChart(4)">
            <span class="close-x-red">&times;</span>
          </button>
          <plotly-plot  [data]= "tracedata[3]" [divId]=plt4
          [layout] = "layout[3]"
          [style]="{width: '95%', height:'95%',autosize:'true'}" 
          [config]="config[3]"
          >
          </plotly-plot>
        </div>
      } 
    </div>


  
    <!-- <table mat-table [dataSource]="tabledata" class="mat-elevation-z8" *ngIf="ViewTable">

        <ng-container [matColumnDef]="col" *ngFor="let col of  headers">
          <th mat-header-cell *matHeaderCellDef> {{col | uppercase}} </th>
          <td mat-cell *matCellDef="let element"> {{element[col]}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="headers"></tr>
        <tr mat-row *matRowDef="let row; columns: headers;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" *ngIf="ViewTable"
    showFirstLastButtons
    aria-label="Select Page">
    </mat-paginator> -->

</div>