<div class="flex-col width-full height-full"> 
    <mat-toolbar class="app-background-color height-10" >
        <span class="height-full width-full"> 
            <a href="/">
                <img class="brand-tb-container" src="assets/brand-white.png"/> 
            </a>
    
        </span>
        <span class="spacer"></span>
        <span class="mat-toolbar-item">
        

            <!-- <a *ngIf="!_authenticated" (click)="showLogin()">
                <button mat-raised-button class="layout-btn" color="accent" >Sign Up</button>
            </a> -->
            <!-- Comment below out until we add third party authentication back to the application-->
            <!-- <a *ngIf="!_authenticated" (click)="showLogin()">
                <button mat-raised-button class="layout-btn" color="accent">Sign In</button>
            </a> -->
        </span> 
        <!-- Comment out below as above-->
        <!-- <span class="">
            <login ></login> 
        </span> -->
    </mat-toolbar>

    <router-outlet class="width-full"></router-outlet>  

    <!-- Footer if any-->
    <app-footer class="width-full height-20vh" ></app-footer>

</div>