
/* app-stockinfo .flex-col{
    @media only screen and (max-width: 500px){
        flex-direction: row;
        width:100%;
        height:50%;
      } 
      @media only screen and (max-width: 1000px){
        width:50%;
        height:50%;
      } 
}

app-stockinfo .flex-row{
    @media only screen and (max-width: 500px){
        flex-direction: column;
        width:100%;
        height:50%;
      } 
      @media only screen and (max-width: 1000px){
        width:50%;
        height:50%;
      } 
} */

/* :host > .flex-row {
    @media only screen and (max-width: 500px){
        flex-direction: column;
        width:100%;
        height:50%;
      } 
      @media only screen and (max-width: 1000px){
        width:50%;
        height:50%;
      } 
} */

/* :host .flex-col{
    @media only screen and (max-width: 500px){
        flex-direction: column;
        width:100%;
        height:50%;
      } 
      @media only screen and (max-width: 1000px){
        width:50%;
        height:50%;
      } 
} */

#stockinfo-container{

  @media only screen and (max-width: 500px){
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
  }

  @media only screen and (max-width: 1000px){
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
  } 

  @media only screen and (min-width: 1000px){
    display: flex;
    flex-direction: row;
    width:100%;
    height:100%;
  } 
}

#stockinfo-tickersearchform{

  @media only screen and (max-width: 500px){
    display: flex;
    flex-direction: row;
    width:100%;
    
  } 
  @media only screen and (max-width: 750px){
    display: flex;
    flex-direction: column;
    width:100%;
  } 

  /* @media only screen and (max-width: 1000px){
    display: flex;
    flex-direction: column;
    width:75%;
  } */
  @media only screen and (min-width: 750px){
    display: flex;
    flex-direction: column;
    width:350px;
  }
  /* @media only screen and (min-width: 1300px){
    display: flex;
    flex-direction: column;
    width: 350px;
    height:100%;
  } */

}