.dashboard-container{
    @media only screen and (min-width: 1200px){
        height:100%;
        width:100%;
        display:flex;
        flex-direction: row;
    }
}

.dashboard-sidenav{
    @media only screen and (min-width: 1200px){
        height:100%;
        width:20%;
        display:flex;
        flex-direction: column;
    }
    @media only screen and (min-width: 2000px){
        height:100%;
        width:12%;
        display:flex;
        flex-direction: column;
    }
}
.dashboard-chartport{
    @media only screen and (min-width: 1200px){
        height:100%;
        width:80%;
        display:flex;
        flex-direction: row;
    }
    @media only screen and (min-width: 2000px){
        height:100%;
        width:88%;
        display:flex;
        flex-direction: row;
    }
}

.brand-img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.img-google{
    height: 65px;
    width: 130px;
}
.img-x{
    height: 40px;
    width: 75px;
}
.img-fb{
    height: 40px;
    width: 75px;
}