
/* .brand-tb-container{
    height:50px;
    width: 60px;
    border-radius: 60px;
    border: 1px solid silver;
}

.brand-tb-container:hover{
    border: 1px solid  green;
    border-radius: 40px;
    cursor:pointer;
} */

sidebar{
    height:100%;
    width:100%;
    margin:auto;
}
.dashboard-content{
    width:100%;
    height:100%;
}