/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();


$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$green-palette: (
    50:#E8F5E9,
    100: #C8E6C9,
    200: #A5D6A7,
    300:  #81C784,
    400:  #66BB6A,
    500:  #4CAF50,
    600: #43A047,
    700: #388E3C,
    800: #2E7D32,
    900:  #1B5E20,
    A100: #B9F6CA,
    A200: #69F0AE,
    A400: #00E676,
    A700: #00C853,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

$primary: mat.define-palette($green-palette);
$accent: mat.define-palette(mat.$red-palette);
$warn: mat.define-palette(mat.$pink-palette);

$my-theme: mat.define-light-theme((
  color: (primary: $primary, accent: $accent, warn: $warn),
));
@include mat.all-component-themes($my-theme);

html{position:relative;}
html, body { height: 100%; margin:0; padding:0; width:100%;}
body { font-family: Roboto, "Helvetica Neue", sans-serif;}

.flex-col{
    display:flex;
    flex-direction: column;
}

.flex-row{
    display:flex;
    flex-direction: row;
}
.width-auto{
    width:auto;
}
.width-full{
    width:100%;
}
.width-25{
    width:25%;
}
.height-25{
    height:25%;
}
.height-10{
    height:10%;
}
.height-50{
    height:50%;
}
.width-50{
    width:50%;
}
.height-full{
    height:100%;
}
.height-auto{
    height:auto;
}
.alert div {
    background-color: #fed3d3;
    color: #820000;
}

.margin-auto{
    margin: auto;
}

.margin-left-auto{
    margin-left: auto;
}
.margin-right-auto{
    margin-right: auto;
}
.margin-top-auto{
    margin-top: auto;
}
.margin-bottom-auto{
    margin-bottom: auto;
}

mat-tab-body, mat-tab-group, mat-tab, .mat-mdc-tab-body-wrapper{
    height:100%;
    width:100%;
}

.flex-align-left{
    margin-right:auto;
}

.flex-align-right{
    margin-left:auto;
}
.flex-align-top{
    margin-bottom:auto;
}
.flex-align-bottom{
    margin-top:auto;
}

.bg-blue{
    background: blue;
}

.bg-red{
    background: red;
}
.bg-gold{
    background: gold;
}

.bg-green{
    background: #1B5E20;
}