/* You can add global styles to this file, and also import other style files */
html{position:relative;}
html, body { height: 100%; margin:0; padding:0; width:100%;}
body { font-family: Roboto, "Helvetica Neue", sans-serif;}

.flex-col{
    display:flex;
    flex-direction: column;
}

.flex-row{
    display:flex;
    flex-direction: row;
}

.width-full{
    width:100%;
}
.width-25{
    width:25%;
}
.height-25{
    height:25%;
}
.height-full{
    height:100%;
}

.alert div {
    background-color: #fed3d3;
    color: #820000;
}

mat-tab-body, mat-tab-group, mat-tab, .mat-mdc-tab-body-wrapper{
    height:100%;
    width:100%;
}