/* You can add global styles to this file, and also import other style files */
$mat-green: (
 50: #E8F5E9,
 100: #C8E6C9,
 200: #A5D6A7,
 300: #81C784,
 400: #66BB6A,
 500: #4CAF50,
 600: #43A047,
 700: #388E3C,
 800: #2E7D32,
 900: #1B5E20,
 // ... continues to 900
 contrast: (
    50: black,
    100: black,
    200: black,
    300:black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: black,
    900: black,
    A100: black,
    A200: white,
    A400: white,
    A700: white,
   // ... continues to 900
 )
);

$mat-red: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
@import '@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-green);
$my-app-accent: mat-palette($mat-red, A200, A100, A400);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);

html{position:relative;}
html, body { height: 100%; margin:0; padding:0; width:100%;}
body { font-family: Roboto, "Helvetica Neue", sans-serif;}

.flex-col{
    display:flex;
    flex-direction: column;
}

.flex-row{
    display:flex;
    flex-direction: row;
}

.width-full{
    width:100%;
}
.width-25{
    width:25%;
}
.height-25{
    height:25%;
}
.height-full{
    height:100%;
}

.alert div {
    background-color: #fed3d3;
    color: #820000;
}

.margin-auto{
    margin: auto;
}

mat-tab-body, mat-tab-group, mat-tab, .mat-mdc-tab-body-wrapper{
    height:100%;
    width:100%;
}

.flex-align-left{
    margin-right:auto;
}

.flex-align-right{
    margin-left:auto;
}
.flex-align-top{
    margin-bottom:auto;
}
.flex-align-bottom{
    margin-top:auto;
}